* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Verdana' !important;
    overflow: hidden;
}

.header p {
    background-color: #308D98;
    color: white;
    font-size: 45px;
    text-align: center;
    font-weight: bolder;
    margin-bottom: 0;
}

.aside {
    width: 300px;
    height: 100%;
    position: fixed;
    border-right: 1px solid rgba(48, 141, 151, 0.219);
}

.aside ul {
    margin-left: none;
    padding-left: 0;
}

.aside li {
    list-style: none;
    font-size: 18px;
}

.aside a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
}

a:hover {
    background-color: #D9EEF0;
    border-left: solid 5px #000000;
}

.bi {
    color: #308D98;
    margin-left: 10px;
    padding-right: 10px;
}

.menu {
    margin-left: 10px;
    text-decoration: none;
    color: black;
}

.pprofile img {
    height: 76px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 10px;
}

.nav li {
    margin: 10px;
    margin-bottom: 0;
}

.nav {
    border-bottom: 1px solid rgba(48, 141, 151, 0.219);
}

.main {
    margin-left: 300px;
}

.navc {
    border-bottom: 1px solid rgba(48, 141, 151, 0.219);
    text-align: center;
    font-size: 31px;
    font-weight: bolder;
    padding: 20px;
}

.kontener {
    background-color: #DCF0F1;
    padding: 50px 50px;
    height: 1000px;
}

.qr {
    float: left;
    border-radius: 20px;
}

.qrd {
    background-color: #40909A;
    color: #ffffff;
    font-weight: bolder;
    border-radius: 20px 20px 0px 0px;
    padding: 10px;
}

.qrku {
    padding-top: 10px;
}

.a1 {
    text-align: left;
    padding-left: 20px !important;
}

.a2 {
    text-align: left;
    padding-left: 20px !important;
}

.ajar {
    background-color: #40909A;
    color: #ffffff;
    font-weight: bolder;
    border-radius: 20px 20px 0px 0px;
    padding: 10px;
}

.matkul {
    float: right;
    border-radius: 20px;
}

.qr {
    background-color: #ffffff;
    float: left;
    text-align: center;
    height: 320px;
    width: 300px;
}

.jdwl {
    background: #40909A;
    color: #ffffff;
    font-weight: bolder;
    margin-bottom: 0;
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
}

.matkul {
    text-align: center;
    float: right;
    background-color: #ffffff;
    height: 320px;
    width: 520px;
}

.kontenjadwal {
    height: 320px;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 30px 40px;
    overflow-y: scroll;
}

.bi-calendar {
    font-size: 50px;
    background-color: #40909A;
    color: #ffffff;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
}

.capt p {
    margin-bottom: 0;
    padding: 9px;
    padding-bottom: 0;
}

.jadwal {
    background-color: #DCF0F1;
    box-shadow: 5px 5px hsla(0, 0%, 0%, 0.328);
    border-radius: 10px;
    padding: 10px;
}

.kirijadwal {
    display: flex;
}

.ruang {
    display: inline-block;
    float: right;
    margin: auto;
    border-radius: 2px;
    border-radius: 10px;
    background-color: #40909A;
}

.ruang p {
    font-size: smaller;
    font-weight: bolder;
    padding: 9px;
    text-align: left;
    margin-bottom: 0;
    color: #ffffff;
}

/* CSSS DATA */
.datacontent {
    height: 1000px;
    padding: 20px 50px !important;
}

.btnimport {
    margin: 10px;
    margin-left: 0px;
}

.datakiri {
    width: 420px;
    background-color: #D9EEF0;
    padding: 20px;
    border-radius: 20px;
}

.datakanan {
    float: right;
    background-color: #D9EEF0;
    width: 420px;
    padding: 20px;
    border-radius: 20px;
}

.caridata {
    display: flex;
}

.bi-search {
    background-color: #ffffff;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-left: 12px;
    padding-top: 7px;
    margin-left: 0px;
}

.sbmt {
    width: 420px;
    text-align: center;
}

.btnsbmt {
    margin: 10px;
    width: 284px;
    font-weight: bolder !important;
    color: #ffffff !important;
    background-color: #40909A !important;
}

.wrapdata {
    height: 100%;
    background-color: #D9EEF0;
    margin-left: 0;
    margin-right: 0;
}

.tabledatahistory {
    margin-bottom: 0 !important;
}

.wrapdata {
    padding: 20px;
    border-radius: 20px;
    height: 280px;
    overflow-y: scroll;
}

tr:first-child th:first-child {
    border-top-left-radius: 10px;
}

tr:first-child th:last-child {
    border-top-right-radius: 10px;
}

tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

.kontenrekap {
    padding: 20px 50px;
    width: 100%;
    height: 100%;
}

.searchrekap {
    background-color: #40909A;
    padding: 15px;
    border-radius: 10px;
    display: inline-block;
    width: 100%;
}

.rekaptab {
    background-color: #D9EEF0;
    padding: 20px;
    border-radius: 10px;
}

.pencapaian {
    display: inline-block;
    padding: 0 15px;
    border-radius: 5px;
    font-weight: bolder;
    color: #ffffff;
    margin-bottom: 0;
}

.namaMHS li {
    font-size: medium;
    margin-top: 0;
}

.namaMHS ul {
    margin-top: 22px;
    padding-left: 20px;
}

.containerlogin {
    width: 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flogin {
    width: 350px;
    background-color: #D9EEF0;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px hsla(0, 0%, 0%, 0.328);
}

.captlogin p {
    margin-bottom: 0;
    color: #ffffff;
}

.captlogin {
    background-color: #308D98;
    padding: 5px;
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
    border-radius: 10px;
}

.alog {
    font-size: small;
    text-align: center;
}

.btnlog {
    text-align: center;
}

.logkanan{
    background-color: #40909A;
    display: flex;
    justify-content: center;
    align-items: center;
}

.captreg{
    background-color: #308D98;
    padding: 5px;
    font-size: x-large;
    font-weight: bolder;
    text-align: center;
    border-radius: 10px;
}

.captreg p{
    margin-bottom: 0;
    color: #ffffff;
}

.btn a{
    text-decoration: none;
    color: #000000;
}